@font-face {
    font-family: mb;
    src: url('../fonts/Montserrat-Bold.ttf');
  }
  @font-face {
    font-family: mbi;
    src: url('../fonts/Montserrat-BoldItalic.ttf');
  }
  @font-face {
    font-family: mm;
    src: url('../fonts/Montserrat-Medium.ttf');
  }
  @font-face {
    font-family: mr;
    src: url('../fonts/Montserrat-Regular.ttf');
  }
body{
    background: white;
    height: ;
    overflow-x: hidden;
}
.btn{
    border-radius: 5px;
}
.navbar .navbar-brand{
    font-size: 36px;
}
.navbar{
    background: white;
    padding: 20px;
    border-bottom: 2px solid #136CB3;
}
.navbar .nav-link{
    color: #727272;
    font-family: mb;
    font-size: 17px;
}
.navbar .nav-link.active{
    font-family: mb;
    color: #232323;
}
.navbar .btn{
    background: transparent;
    color: #e43042;
    font-family: mm;
    border: 2px solid #e43042;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgba(128, 128, 128, 0.048);
}
.navbar .btn:hover{
    background: #e43042;
    color: white;
}
.navbar .dropdown{
    position: static;

}
.navbar .dropdown-menu{
    width: 100%;
    border: 0px solid;
    border-radius: 0px ;
    border-top: 1px solid #136CB3;
    background: white;
    transition: all 0.3s;
    box-shadow: 0px 5px 5px 2px rgba(128, 128, 128, 0.061);
}
.navbar .dropdown-menu a{
    display: table-cell;
    padding: 40px;
    margin: 20px;
    text-align: right;
    transition: all 0.3s;
    font-family: mb;
}
.navbar .dropdown-menu a:hover{
    background: transparent;
    color:#136CB3;
    cursor: pointer;
}
.jumbotron{
    border-radius: 0px;
    margin: 0 auto;
    background: white;
}
#car #section-1{ 
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/back2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#car #section-02{ 
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/back-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#car #section-03{ 
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/hockey-event.PNG');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: ;
    background-attachment: ;
}
#car #section-033{ 
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/hockey-back.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: ;
}
#car #section-04{ 
    background: #136CB3;
    position: relative;
    width: 100%; 
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/swim.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#car #section-05{ 
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/yoga-back.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#car #section-06{ 
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.45) 50%,rgba(19, 107, 179, 0.45) 50%) ,url('../images/cas.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#car .jumbotron h6{
    font-family: mr;
    word-spacing: 20px;
}
#car .jumbotron  h2{
    font-family: mm;
    font-size: 80px;
    padding: 10px;
}
#car .jumbotron  h1{
    font-family: mbi;
    font-size: 80px;
    padding: 10px;
}
#car .jumbotron  .btn{
    padding: 10px;
    width: 300px;;
    border: 0px solid;
    border-radius: 0px;
    font-family: mm;
}
#section-2{
    margin: 0;
	background: linear-gradient(70deg,rgba(255, 255, 255, 0.97) 50%,  rgba(247, 247, 247, 0.8) 50%) ,url('../images/cool-sports-wallpaper-16.jpg');
	color: #D9B74E;
}
#section-2 h1{
    border-left:0px solid white;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#section-2 h3{
    font-family: mm;
    color: #136CB3;
}
#section-2 h2{
    font-family: mm;
    color: #136CB3;
}
#section-2 .lead{
    font-family: mr;
    color: #232323;
}
#section-2 .btn{
    padding: 20px;
    width: 300px;;
    border: 0px solid;
    border-radius: 0px;
    font-family: mm;
}
#our-packages{
    text-align: center;
    background: rgb(245, 250, 255);
}
#our-packages h1{
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#our-packages .card{
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 0px solid #136CB3;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.01);
}
#our-packages .card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0);
    border-bottom: 5px solid #136CB3;
}
#out-packages .card .btn{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}
#out-packages .card h5{
    padding: 10px;
    font-size: 15px;
    font-family: mm;
    background: #136CB3;
}
#out-packages .card i{
    color: gray;
    background: red;
}
#up-events{
    background:rgb(255, 255, 255);
}
#up-events  h1{
    font-family: mm;
    font-size: 40px;
}

#up-events .ueh{
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: px;
    font-family: mb;
    color: #e43042;
}

#up-events  .card {
    background: white;
    border-radius: 5px;
    border: 0px solid;
    height: 100%;;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
}

#up-events  .card .overlay{
    position: ;
    width: 100%;
padding: 15px;
background: white;
    
    color: white;
}
#up-events  .card .overlay{
    padding: 15px;
    font-family: mm;
}
#up-events  .card .overlay h1{
    font-family: mm;
    font-size: 23px;
    color: #136CB3;

}
#up-events  .card .overlay p{
    font-family: mr;
    font-size: 13px;
    color: rgb(148, 148, 148);

}
#up-events  .card  .btn{
    border-radius: 0px;
    border: 0px solid;
    padding: 10px;
    font-family: mm;
}

#up-events .s-m{
    border-radius: 0px;
    border: 0px solid;
    padding: 15px;
    font-family: mm;
}

#places .ueh {
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}

#places {
	margin: 0 auto;
	border-radius: 0px;
	background-color:; 
}



#places .panel{
	transition: all 0.3s;
	box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.05);
}
#places .panel:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
}
#places .panel h4 a{
    text-decoration: none;
}
#places .panel-body li{
    font-family: mr;
    padding: 10px;
    margin: 10px;
}
#places .card {
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.06);
    border: 0px solid;
    border-radius: 0px;
}
#places .card:hover{
    box-shadow: 0px 10px 10px 5px rgba(128, 128, 128, 0.1);
}
#places .card h4{
    font-size: 18px;
    font-family: mm;
}
#places .card  .card-img-top{
    border-radius: 0px;
}
#places .card .card-body li{
    font-family: mr;
    list-style: none;
    font-size: 13px;
    padding: 2px;
}
#places .card .card-header{
    background: white;
}
/*
#places .card  h3{
	position: absolute;
	bottom: 0px;
	padding: 10px;
	font-family: mm;
    color: white;
    opacity: 1;
}
#places .card  .overlay{
	position: absolute;
	padding: 5px;
	font-family: mm;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    background:  linear-gradient(to bottom,rgba(19, 107, 179, 1) 60%, rgba(0, 0, 29, 1)  110%);
}
#places .card:hover  .overlay{
    opacity: 1;
    z-index: 1;

#places .card:nth-child(1){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/Thailand.jpg');

	background-size: cover;
	background-repeat: no-repeat;

}

#places .card:nth-child(2){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/Belarus.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px;
	padding: 0px;
}

#places .card:nth-child(3){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/Moscow1.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places .card:nth-child(4){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/Istanbul.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-2 .card:nth-child(1){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/Kyrgystan.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}
#places-2 .card:nth-child(2){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/Dubai.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-2  .card:nth-child(3){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/geo.png');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-2  .card:nth-child(4){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/india.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-3 .card:nth-child(1){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/canada.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-3 .card:nth-child(2){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/bulgaria.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-3 .card:nth-child(3){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/czech.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}

#places-3 .card:nth-child(4){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,#136CB3 110%) ,url('../images/america.JPG');

	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;;
	height: 250px
	padding: 0px;
}
#places .btn{
	width: 300;
	padding: 20px;
	font-size: 20px;
	font-family: mb;
	border-radius: 0px;
	border: 0px solid;
	float:right;
	margin: 0px;
	color:#232323; 
	background:#D9B74E;
	
}
*/

#test{
    height: 350px;
    padding: 20px;
}
.slider {
    height: %;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: ;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    height:;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__image {
    font-size: 2.2rem;
        color: #2196F3;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .slider__txt {
    color: #999;
    margin-bottom: 3rem;
  
  }
  #company .ueh{
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
  }
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  

  #com h1 {
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}

  #com{
    background: rgb(245, 245, 245);
  }

  #test h2{
      font-family: mb;
      columns: #232323;;
  }
  #test p{
    font-family: mm;
    columns: #gray;;
}

#footer{
    background: #136CB3;
    color: white;
}
#footer #li li{
    display: inline-block;
    padding: 10px;
    margin: 15px;
    color: lightblue;
    transition: all 0.3s;
}
#footer #li li:hover{
    color: white;
}
#footer #link  h3{
    color: white;
    font-family: mm;
}
#footer #link li{
    padding: 10px;
    font-family: mr;
    color: white;
    list-style: none;
}
#footer #link li a{
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-family: mm;

}
#footer #link  p{
    font-family: mm;
}
#footer-2{
    margin: 0px;
    padding: 3px;
    font-size: 13px;
    background: rgb(12, 85, 144);

}
#footer-2 p{
    margin-top: 10px;
    color: white;
}

#about {
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(19, 107, 179, 0.75) 50%,rgba(19, 107, 179, 0.75) 50%) ,url('../images/back2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#about h1{
    font-family: mbi;
}
#about h6{
    font-family: mm;
}
#aboutinfo h2{
    font-family: mm;
    text-align: center;
    padding: 10px;
}
#aboutinfo .col-md-4{
    padding: 20px;
}
#aboutinfo .col-md-4 p{
    font-family: mr;
    font-size: 17px;
    text-align: left
}
#aboutinfo{
    padding: 20px;
}
#aboutinfo h5{
    font-family: mm;
    font-size: 25px;
}
#rg{
    background: #136CB3;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(70deg,rgba(228, 47, 65, 0.8) 50%,rgba(228, 47, 65, 0.8) 50%) ,url('../images/back2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#rg h2{
    font-family: mm;
    font-size: 35px;
}
#rg .btn{
    padding: 20px;
    width: 300px;;
    border: 0px solid;
    border-radius: 5px;
    font-family: mm;
}
#stinfo h3{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#stinfo p{
    font-family: mr;
    padding: 20px;
}
#stinfo .card{
    padding: 40px;
    border: 0px solid;
    font-size: 100px;
}
#stinfo-img .card img{
    width: 80px;
    border: 0px solid;
}



#interplace .card-group .btn{
    padding: 10px;
    margin: 5px;
    background: transparent;
    color: #b8b8b8;
    border: 2px solid #a2a2a2;
    font-family: mm;
    cursor: pointer;
}


#Features h3{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
    text-align: left;
}
#Features li{
    padding: 5px;
    font-family: mm;
    font-size: 20px;
}
#as .sport .card{
    border: 0px solid;
    padding: 30px;
    
}
#as h3{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#as .sport img{
    width: 50px;
    text-align: center;
    
    
}


#up-events-summer  .btn{
    position: ;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
#up-events-summer #events {
    background: white;
    border-radius: 5px;
    border: 0px solid;
    height: 100%;;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);

}
#up-events-summer #events  .overlay{
    position: ;
    width: 100%;
padding: 15px;
background: white;
    
    color: white;
}
#up-events-summer #events   .overlay{
    padding: 15px;
    font-family: mm;
}
#up-events-summer  #events  .overlay h1{
    font-family: mm;
    font-size: 23px;
    color: #136CB3;

}
#up-events-summer  #events  .overlay p{
    font-family: mr;
    font-size: 13px;
    color: rgb(148, 148, 148);

}
#up-events-summer  #events   .btn{
    border-radius: 0px;
    border: 0px solid;
    padding: 10px;
    font-family: mm;
}


#winter-interplace .card{
	padding: 20px;
	margin: ;
	margin: 5px;
}





#winter-card .card{
	width:250px;
	height: 200px;
	padding: 0px;
		border: 0px solid;
	border-radius: 0px;
	box-shadow: 0px 5px 15px 5px rgba(195, 195, 195, 0.2);
}
#winter-card .card .overlay {
	position: absolute;
	bottom: 0px;
	padding: 10px;
	font-family: mm;
	color: white;
}
#winter-card .card:nth-child(1){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,rgba(0, 0, 29, 0.8) 110%) ,url('../images/almaty.jpg');

    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	width:250px;
	height: 200px;
	padding: 0px;
}

#winter-card .card:nth-child(2){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,rgba(0, 0, 29, 0.8) 110%) ,url('../images/geo.png');

    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	width:250px;
	height: 200px;
	padding: 0px;
}
#winter-card .card:nth-child(3){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,rgba(0, 0, 29, 0.8) 110%) ,url('../images/canada.jpg');

    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	width:250px;
	height: 200px;
	padding: 0px;
}
#winter-card .card:nth-child(4){
	background: linear-gradient(to bottom,rgba(0, 0, 29, 0) 60%,rgba(0, 0, 29, 0.8) 110%) ,url('../images/Istanbul.jpg');

    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	width:250px;
	height: 200px;
	padding: 0px;
}
#winter-interplace  h3{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
.card-columns {
    column-count: 3;
  }
#gallery h1{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#gallery h2{
    border-left:0px solid #136CB3;
    font-family: mb;
    color: #136CB3;
}
#gallery .date{
    background: #e43042;
    padding: 5px;
    text-align: center;
    
    color: white;
    border-radius: 5px;
}
#gallery .date h3{
    font-family: mb;
}
#gallery .date p{
    line-height: 0.5;
    font-family: mr;
}

#gallery .place{
    line-height: 2;
    font-family: mm;
    background: #e43042;
    padding: 5px;
    text-align: center;
    height: 70px;
    color: white;
    border-radius: 5px;
}
#gallery .card{
    padding: px;
    border-radius: 0px;
    border: 1px solid lightblue;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.06);
    font-family: mm;
    height: 100%;;
}
#gallery a{
    color: #333;
    text-decoration: none;
}
#gallery .card h5{
    font-family: mb;
}
#gallery .card:hover{
    box-shadow: 0px 15px 10px 5px rgba(128, 128, 128, 0.1);
 
    transition: all 0.3s;
}
#nav-event h3{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#nav-event{
    padding: 10px;
}
#nav-event li{
    padding: 10px;
    font-family: mm;
    
}
#nav-event a{
    color: #232323;
}
#nav-event li:hover{
    background: rgb(230, 230, 230);
    color: red;
}
#contact-info{
    padding: 10px;

}
#con-1{
     
}
#contact-info .card{
    padding: 10px;
    text-align: ;
    margin: 20px;
    background:linear-gradient(70deg,rgba(228, 47, 65, 0.8) 50%,rgba(228, 47, 65, 0.8) 50%) ,url('../images/back2.jpg');;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
    color: white;
    font-family: mm;
    border: 0px solid;
    padding-top: 30px;
}
#contact-info .card p{
    padding: 10px;
    text-align: ;

}
#contact-info .card i{
    font-size: 20px;
    padding: 20px;
    border: 2px solid;
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    text-align: center;
}
#con-2{
    padding: 10px;
    height: 100%;;
}

#con-2 h3{
    border-left:5px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
}
#con-2 label{
    font-family: mr;
}
#con-2 form{
    padding: 20px;
}
#con-2 form input{
    padding: 20px;
    font-family: mr;
  
}
#con-2 form  textarea{
    padding: 20px;
    font-family: mr;
   
}
#con-2 form .btn{
    padding: 20px;
    width: px;
    border: 0px solid;
    border-radius: 0px;
    font-family: mm;
    float: right;
}

#company .card{
    padding:px;
    border:0px solid;
    width: 150px;

}
#company .card img{
   opacity: 0.8;
  filter: grayscale(0%);
    width: 120px;
    height: 110px;
    align-content:center ;
}


#cas h1{
   color:  #e43042;
}
@media (min-width: 320px) and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    .navbar .navbar-brand{
        font-size: 25px;
    }
    .ueh{
        font-size: 30px;
    }
    #cas h1{
        font-size: 30px;
    }
    #car .jumbotron h6{
        font-family: mr;
        word-spacing: 10px;
    }
    #car .jumbotron  h2{
        font-family: mm;
        font-size: 35px;
        padding: 10px;
    }
    #car .jumbotron  h1{
        font-family: mbi;
        font-size: 35px;
        padding: 10px;
        text-align: center;
    }
    #section-2 .btn{
        padding: 20px;
        width: 200px;;
        border: 0px solid;
        border-radius: 0px;
        font-family: mm;
    }
    #car .jumbotron  .btn{
        padding: 10px;
        width: 200px;;
        border: 0px solid;
        border-radius: 0px;
        font-family: mm;
    }
    #rg .btn{
        width: 200px;
    }
    #about h1{
        font-size: 30px;
    }
    .navbar .dropdown{
        position: none ;
    
    }
    .navbar .dropdown-menu{
        width:100%;
        border: 0px solid;
        border-radius: 0px;
        margin-top: -1px;
        background: white;
     
    }
    .navbar .dropdown-menu a{
        display: table;
        padding: 10px;
        margin: 5px;
        text-align: center;
        transition: all 0.3s;
        font-family: mm;
    }
    .navbar .dropdown-menu a:hover{
        background: transparent;
        color:#136CB3;
        cursor: pointer;
    }
    .card-columns{
        column-count:1;
    }
}

#past-events #ueh{
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
    text-align: center;
}
#past-events .card-group{
    background: white;
    border-radius: 5px;
    border: 0px solid;
    height: 100%;;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);

}
#past-events .card-group .card {
    font-family: mm;
    border: 0px solid;
    padding: 10px;
}
#past-events .card-group .card h1{
    font-family: mm;
    font-size: 23px;
}
#past-events .card-group .card p{
    font-family: mr;
    font-size: 18px;
    padding: 0px;
}
#past-events .card-group .card .btn{
    border-radius: 50px;
    width:200px ;
    float: right;
 
  
}
#past-events .btn{
    border-radius: 0px;
    border: 0px solid;
    padding: 10px;
    font-family: mm;
}

.ueh{
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
    text-align: center;
}


#hockey-festival-sec{
    background: linear-gradient(to bottom,rgba(0, 0, 29, 0.1) 60%,rgba(0, 0, 29, 0.8) 110%) ,url('../images/hoc.jpg'); 
    margin: 0 auto;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
#yoga-sec{
    background: linear-gradient(to bottom,rgba(0, 0, 29, 0.1) 60%,rgba(0, 0, 29, 0.8) 110%) ,url('../images/yoga-back.jpg'); 
    margin: 0 auto;
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
}
#h-e-c {
    margin-top: -180px;
}
#h-e-c .card{
    border: 0px solid;
}
#h-e-c .ueh{
    border-left:0px solid #136CB3;
    padding: 10px;
    padding-left: 20px;
    font-family: mb;
    color: #e43042;
    text-align: center;
}
#h-e-c h1{
    font-family: mm;
}
#h-e-c .card{
    padding: 20px;
    border-radius: 5px ;
    border: 0px solid;
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.05);
}
#h-e-c .card h1{
    font-family: mb;
    color: #136CB3;
}
#h-e-c .card h2{
    font-family: mm;
    font-size: 20px;
    padding: 10px;
}
#h-e-c .card h4{
    font-family: mm;
    font-size: 18px;
    padding: 10px;
}
#h-e-c .img .card {
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0);
}
#h-e-c  .btn{
    padding: 10px;
    width: 100%;
    border: 0px solid;
    border-radius: 0px;
    font-family: mm;
}
#h-e-c p{
    font-family: mm;
}
#h-e-c li{
    list-style: none;
}
#h-e-c  li:before {
    content: '✓ ';
  }


  #cas h1 {
      font-family: mb;
  }
  #cas p {
    font-family: mr;
}
#cas li {
    font-family: mr;
    list-style: none;
    padding: 5px;
}
  #cas h3 {
    font-family: mm;
}
#cas h4 {
    font-family: mm;
}
#cas h2 {
    font-family: mm;
}